<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Email</title>
</head>

<body style="font-family: sans-serif">
    <div>
        Hi <%= username %>
    </div>
    <br />
    <br />
    <div>You requested to verify your email</div>
    <br />
    <br />
    <div>Please click the blow to verify email</div>
    <br />
    <br />
    <a href="<%= link %>">Verify email</a>
</body>

</html>